.social {
    width: 100%;
    margin: rem-calc(0 0 30 0);
    font-size: 0;
    padding: rem-calc(0 15);
    text-align: center;

    @include breakpoint(770 down) {
        width: 100%;
        text-align: center;
    }

    &__item {
        display: inline-block;

        &:not(:last-of-type) {
            margin-right: rem-calc(30);
        }

        a {
            &::before {
                content: attr(data-fa-icon);
                font-family: $fa;
                font-size: rem-calc(30);
                line-height: rem-calc(30);
                color: #fff;
            }
        }

        &--violet {

            @include breakpoint(small only) {
                &:not(:last-of-type) {
                    margin-right: rem-calc(15);
                }
            }

            a {
                width: rem-calc(50);
                height: rem-calc(50);
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $violet;
                border-radius: 50%;

                @include breakpoint(small only) {
                    width: rem-calc(40);
                    height: rem-calc(40);

                    &::before {
                        font-size: rem-calc(20);
                        line-height: rem-calc(20);
                    }
                }
            }
        }
    }
}