.home {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    &__section {
        width: 100%;
        background-color: #fff;
        padding: rem-calc(50 0);

        @include breakpoint(medium only) {
            padding: rem-calc(40 0);
        }

        @include breakpoint(small only) {
            padding: rem-calc(30 0);
        }

        &--blue {
            background-color: $primary-colour;

            .btn {
                @include breakpoint(small only) {
                    width: calc(100% - 30px);
                }
            }
        }

        &--grey-gradient {
            background: rgb(242,242,242);
            background: linear-gradient(180deg, rgba(242,242,242,1) 0%, rgba(0,212,255,0) 100%);
        }

        &--grey {
            background-color: $light-grey;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
        }
    }

    &--white {
        background-color: #fff;
    }

    &--grey {
        background-color: $light-grey;
    }

    &__title {
        width: 100%;
        float: left;
        text-align: center;
        font-family: $primary;
        text-transform: uppercase;
        font-weight: 600;
        color: #fff;
        font-size: rem-calc(35);
        line-height: rem-calc(35);
        padding-bottom: rem-calc(25);
        margin-bottom: rem-calc(30);
        position: relative;

        @include breakpoint(small only) {
            font-size: rem-calc(27);
            line-height: rem-calc(27);
            padding: rem-calc(0 15 20 15);
        }

        &:before {
            content: '';
            height: rem-calc(4);
            width: rem-calc(70);
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background-color: #fff;
        }

        &--secondary-colour {
            &:before {
                background-color: $secondary-colour;

            }
        }

        &--jet {
            color: $jet;
        }
    }

    &__content {
        width: 100%;
        margin-bottom: rem-calc(30);
        text-align: center;

        &--padding {
            padding: rem-calc(0 50);

            @include breakpoint(medium only) {
                padding: rem-calc(0 30);
            }

            @include breakpoint(small only) {
                padding: rem-calc(0 15);
            }
        }
    }

    &__products {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: rem-calc(0 15);
    }

    &__product {
        width: calc((100% - (15px * 3)) / 4);

        @include breakpoint(medium down) {
            width: calc((100% - (15px * 2)) / 2);
            margin-bottom: rem-calc(30);
        }

        @include breakpoint(small only) {
            margin-bottom: rem-calc(15);
        }

        @include breakpoint(450 down) {
            width: 100%;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    &__blocks {
        width: 100%;
        float: left;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        padding: rem-calc(0 15);
    }
    &__block {
        width: calc((100% - 30px) / 2);
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: flex-start;
        padding: rem-calc(30);
        position: relative;

        @include breakpoint(750 down) {
            padding: rem-calc(15);
        }

        @include breakpoint(small only) {
            width: 100%;
        }

        svg {
            width: rem-calc(250);
            height: auto;
            position: absolute;
            opacity: 0.5;

            @include breakpoint(small only) {
                width: rem-calc(200);
            }
        }

        &:first-of-type {
            background-color: $secondary-colour;

            @include breakpoint(small only) {
                margin-bottom: rem-calc(15);
            }

            svg {
                fill: lighten($secondary-colour-2, 10%);
                bottom: 0;
                left: 0;
            }
        }

        &:last-of-type {
            background-color: $secondary-colour-2;

            svg {
                fill: lighten($secondary-colour, 10%);
                top: 0;
                right: 0;
            }
        }
    }
    &__block-inner {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: rem-calc(1) solid #fff;
        min-height: 100%;
        padding: rem-calc(30 15);
        position: relative;
        z-index: 2;
        text-align: center;
    }

    &__block-title {
        width: 100%;
        font-family: $primary;
        color: #fff;
        font-size: rem-calc(30);
        line-height: rem-calc(35);
        margin-bottom: rem-calc(10);
        font-weight: 600;

        @include breakpoint(750 down) {
            font-size: rem-calc(25);
            line-height: rem-calc(30);
        }
    }

    &__block-text {
        width: 100%;
        margin-bottom: rem-calc(30);
    }

    &__blogs {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: flex-start;
        padding: rem-calc(0 15);
    }

    &__blog {
        width: calc((100% - 30px) / 3);
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: flex-start;
        border-radius: rem-calc(18);
        overflow: hidden;
        box-shadow: 0 3px 12px rgba(#000, 0.10);

        > a {
            width: 100%;
        }

        @include breakpoint(830 down) {
            width: 100%;
            flex-wrap: nowrap;

            &:not(:last-of-type) {
                margin-bottom: rem-calc(15);
            }
        }

        @include breakpoint(small only) {
            flex-wrap: wrap;
        }

        &:nth-of-type(2) {
            .date {
                color: $secondary-colour-2;
            }
        }

        &:last-of-type {
            .date {
                color: $comp-colour;
            }
        }


        .image {
            width: 100%;
            overflow: hidden;

            @include breakpoint(830 down) {
                width: rem-calc(300);
            }

            @include breakpoint(small only) {
                width: 100%;
            }

            &:hover {
                img {
                    transform: scale(1.1);
                }
            }

            a {
                width: 100%;
            }

            img {
                width: 100%;
                transition: ease, 0.5s;
            }
        }

        .details {
            width: 100%;
            background-color: #fff;
            padding: rem-calc(15);
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;

            @include breakpoint(830 down) {
                width: calc(100% - 300px);
            }

            @include breakpoint(small only) {
                width: 100%;
            }

            p {
                margin-bottom: rem-calc(15);
                font-family: $body;
                color: $jet;
                font-size: rem-calc(16);
                line-height: rem-calc(20);
            }
        }
        .date {
            width: 100%;
            font-family: $body;
            color: $secondary-colour;
            font-size: rem-calc(16);
            line-height: rem-calc(16);
            font-weight: 700;
            margin-bottom: rem-calc(10);
            text-shadow: 0 0 13px rgba(#000, 0.2);
        }
        .title {
            width: 100%;
            font-family: $primary;
            color: $jet;
            font-size: rem-calc(25);
            line-height: rem-calc(25);
            font-weight: 600;
            margin-bottom: rem-calc(10);

            a {
                font-family: inherit;
                font-size: inherit;
                line-height: inherit;
                font-weight: inherit;
                color: inherit;
            }
        }
    }

}