.header {
    $self: &;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    padding: rem-calc(21 0);
    transition: ease, 0.5s;
    overflow: hidden;
    z-index: 100;

    &:before {
        content: '';
        width: 100%;
        height: 100%;
        background: linear-gradient(230deg, $red 0%, $violet 50%, $blue 100%);
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: ease, 0.5s;
        visibility: hidden;
    }

    @include breakpoint(850 down) {
        padding: rem-calc(15 0);
    }

    &--state2 {

        &:before {
            opacity: 1;
            visibility: visible;
        }

        #{$self}__logo {
            span {
                color: #fff;
            }
        }
        
        #{$self}__nav-item {
            &:before {
                background-color: #fff;
            }
        }
    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 2;
    }

    &__logo {
        font-family: $primary;
        color: #fff;
        font-size: rem-calc(40);
        line-height: rem-calc(40);
        text-transform: uppercase;
        font-weight: bold;
        padding: rem-calc(0 15);
        transition: ease, 0.5s;

        @include breakpoint(850 down) {
            font-size: rem-calc(35);
            line-height: rem-calc(35);
        }

        span {
            color: $neon;
            transition: ease, 0.5s;
        }
    }

    &__navigation {
        padding: rem-calc(0 15);

        @include breakpoint(small only) {
            display: none;
        }
    }

    &__nav {
        margin: 0;
        list-style: none;
        font-size: 0;
    }

    &__nav-item {
        display: inline-block;
        font-family: $primary;
        color: #fff;
        font-size: rem-calc(25);
        line-height: rem-calc(25);
        font-weight: bold;
        letter-spacing: rem-calc(0.5);
        position: relative;
        transition: ease, 0.5s;

        @include breakpoint(850 down) {
            font-size: rem-calc(20);
            line-height: rem-calc(20);
        }

        &:not(:last-of-type) {
            margin-right: rem-calc(35);

            @include breakpoint(850 down) {
                margin-right: rem-calc(25);
            }
        }

        &:before {
            content: '';
            width: 0;
            height: rem-calc(2);
            background-color: $neon;
            position: absolute;
            bottom: rem-calc(-10);
            left: 50%;
            transform: translateX(-50%);
            transition: ease, 0.5s;

            @include breakpoint(850 down) {
                bottom: rem-calc(-6);
            }
        }

        &:hover {
            &:before {
                width: 100%;
                transition: ease, 0.5s;
            }
        }

        a {
            font-family: inherit;
            color: inherit;
            font-size: inherit;
            line-height: inherit;
            font-weight: inherit;
        }
    }
}