.article {
    $self: &;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    @include breakpoint(small only) {
        padding-top: rem-calc(30);
    }

    &--no-p {
        padding: 0;
    }

    &__section {
        width: 100%;

        &--grey {
            padding: rem-calc(60 0);
            background: linear-gradient(180deg, $light-grey 0%, #fff 100%);

            @include breakpoint(medium only) {
                padding: rem-calc(40 0);
            }

            @include breakpoint(small only) {
                padding: rem-calc(30 0);
            }
        }
    }

    &__top {
        width: 70%;
        margin: 0 auto rem-calc(45) auto;
        text-align: center;
        padding: rem-calc(0 15);

        @include breakpoint(medium only) {
            width: 85%;
        }

        @include breakpoint(small only) {
            width: 100%;
            margin-bottom: rem-calc(30);
        }
    }

    &__inner {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    &__articles {
        width: calc(100% - 330px);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: rem-calc(60);

        @include breakpoint(medium only) {
            width: calc(100% - 270px);
            margin-bottom: rem-calc(40);
        }

        @include breakpoint(small only) {
            width: 100%;
            margin-bottom: rem-calc(30);
        }
    }

    &__blocks {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__block {
        width: calc(100% / 2);
        padding: rem-calc(0 15);
        margin-bottom: rem-calc(30);

        @include breakpoint(900 down) {
            width: 100%;
        }
    }

    &__sidebar {
        width: rem-calc(270);

        @include breakpoint(small only) {
            width: 100%;
            margin-bottom: rem-calc(30);
        }
    }

    &__bottom {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: rem-calc(0 15);
        margin: rem-calc(15 0 0 0);
        list-style: none;

        @include breakpoint(medium down) {
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
        }

        li {
            @include breakpoint(medium down) {

                &:first-of-type {
                    width: 100%;
                    margin-bottom: rem-calc(30);
                }
            }
        }
    }


    &__item {
        width: 100%;
        display: block;
        position: relative;
        border-radius: rem-calc(20);
        overflow: hidden;
        height: rem-calc(450);

        @include breakpoint(small only) {
            height: rem-calc(350);
        }

        > a {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
        }

        &:hover {
            &:before {
                height: 100%;
            }

            #{$self}__title {
                color: $neon;
            }
        }

        &:before {
            content: '';
            width: 100%;
            height: 50%;
            display: block;
            background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
            z-index: 2;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: ease, 0.5s;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    &__box {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 3;
        padding: rem-calc(20);
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    &__tags {
        width: 100%;

        a {
            display: inline-flex;
            font-family: $body;
            color: #fff;
            font-size: rem-calc(15);
            line-height: rem-calc(15);
            padding: rem-calc(3 15);
            border-radius: rem-calc(5);
            background-color: $red;
            margin-bottom: rem-calc(10);

            &:not(:last-of-type) {
                margin-right: rem-calc(10);
            }
        }
    }

    &__title {
        width: 100%;
        font-family: $primary;
        color: #fff;
        @include fluid-type($min_width, $max_width, 25px, 30px);
        font-weight: bold;
        margin-bottom: rem-calc(10);
        text-shadow: 0 3px 6px rgba(#000, 0.16);
        transition: ease, 0.5s;
    }

    &__options {
        width: 100%;
        margin: 0;
        list-style: none;
        font-size: 0;
    }

    &__option {
        display: inline-flex;
        align-items: center;
        font-family: $body;
        font-size: rem-calc(15);
        line-height: rem-calc(15);
        color: #fff;
        margin-bottom: rem-calc(10);

        &:not(:last-of-type) {
            margin-right: rem-calc(8);
        }

        &:before {
            content: attr(data-fa-icon);
            font-family: $fa;
            font-weight: 900;
            font-size: rem-calc(20);
            color: #fff;
            margin-right: rem-calc(10);
        }
    }

    &__featured-image {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: rem-calc(450);
        overflow: hidden;

        @include breakpoint(small only) {
            height: rem-calc(350);
        }

        @include breakpoint(450 down) {
            height: rem-calc(300);
        }

        .parallax {
            height: 100%;
        }
    }

    &__credit-badge {
        width: 100%;
        text-align: center;
        margin: rem-calc(25 0);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        p {
            font-family: $body;
            color: $coal;
            @include fluid-type($min_width, $max_width, 18px, 20px);
            font-weight: 500;
            margin: 0;

            a {
                font-family: inherit;
                color: $blue;
                text-decoration: underline;
                font-size: inherit;
                line-height: inherit;
                font-weight: inherit;
            }
        }
    }

    &__content {
        width: rem-calc(1030);
        margin: 0 auto rem-calc(60) auto;
        padding: rem-calc(0 15);

        @include breakpoint(1030 down) {
            width: 100%;
        }

        @include breakpoint(medium only) {
            margin-bottom: rem-calc(40);
        }

        @include breakpoint(small only) {
            margin-bottom: rem-calc(30);
        }
    }

    &__tl-dr {
        width: 100%;
        border-bottom: rem-calc(10) solid $light-grey;
        padding-bottom: rem-calc(30);
        margin-bottom: rem-calc(30);

        p {
            margin-bottom: 0;
        }
    }

    &__info-box {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        border-radius: rem-calc(20);
        overflow: hidden;
        background: linear-gradient(45deg, $violet 50%, $blue 100%);
        margin-bottom: rem-calc(45);
        padding: rem-calc(30);

        @include breakpoint(medium only) {
            margin-bottom: rem-calc(40);
        }

        @include breakpoint(small only) {
            margin-bottom: rem-calc(30);
            padding: rem-calc(30 15);
        }

        .list li,
        .tags,
        p {
            &:before {
                content: attr(data-fa-icon);
                font-family: $fa;
                color: #fff;
                @include fluid-type($min_width, $max_width, 16px, 20px);
                font-weight: 900;
                margin-right: rem-calc(10);
            }
        }

        .list {
            width: 100%;
            margin-bottom: rem-calc(15);

            li {
                display: inline-flex;
                align-items: center;
                font-family: $body;
                color: #fff;
                @include fluid-type($min_width, $max_width, 16px, 20px);
                font-weight: 400;

                &:first-of-type {
                    &:after {
                        content: '|';
                        margin: rem-calc(0 10);
                    }
                }
            }
        }

        .tags {
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: rem-calc(15);

            a {
                display: inline-block;
                text-decoration: underline;
                font-family: $body;
                color: #fff;
                @include fluid-type($min_width, $max_width, 16px, 20px);
                margin-right: rem-calc(5);


                &:not(:last-of-type) {
                    &:after {
                        content: ',';
                    }
                }
            }
        }

        p {
            width: 100%;
            margin: 0;
            align-items: center;
            font-family: $body;
            color: #fff;
            @include fluid-type($min_width, $max_width, 16px, 20px);

            a {
                text-decoration: underline;
                font-family: inherit;
                line-height: inherit;
                font-size: inherit;
                color: inherit;
            }
        }
    }
}