.project {
    $self: &;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    &__item {
        display: flex;
        flex-wrap: wrap;

        &:hover {
            #{$self}__image {
                .image {
                    transform: scale(1.1);

                    &:before {
                        opacity: 1;
                    }
                }
            }

            #{$self}__tag {
                top: 0;
                transition: ease, 0.5s;
            }
        }

        &--ecommerce {
            #{$self}__tag {
                background-color: $neon;
            }

            &:hover {
                #{$self}__title {
                    color: $neon;
                }
            }
        }
        &--design {
            #{$self}__tag {
                background-color: $purple;
            }

            &:hover {
                #{$self}__title {
                    color: $purple;
                }
            }
        }
        &--brochure {
            #{$self}__tag {
                background-color: $red;
            }

            &:hover {
                #{$self}__title {
                    color: $red;
                }
            }
        }
    }

    &__image {
        width: 100%;
        height: rem-calc(350);
        margin-bottom: rem-calc(15);
        position: relative;
        overflow: hidden;
        border-radius: rem-calc(20);

        .image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: ease, 0.5s;

            &:before {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                background-color: rgba(#000, 0.5);
                opacity: 0;
                transition: ease, 0.5s;
            }
        }
    }

    &__text {
        width: 60%;
        margin: 0 auto rem-calc(30) auto;
        text-align: center;
        padding: rem-calc(0 15);

        @include breakpoint(medium only) {
            width: 80%;
        }

        @include breakpoint(small only) {
            width: 100%;
        }
    }

    &__title {
        width: 100%;
        font-family: $primary;
        color: $coal;
        @include fluid-type($min_width, $max_width, 25px, 40px);
        text-align: center;
        font-weight: bold;
        transition: ease, 0.5s;
    }

    &__tag {
        width: rem-calc(150);
        text-align: center;
        background-color: $blue;
        font-family: $body;
        font-size: rem-calc(20);
        line-height: rem-calc(25);
        font-weight: 500;
        color: #fff;
        border-radius: rem-calc(0 0 20 20);
        position: absolute;
        top: rem-calc(-50);
        left: rem-calc(20);
        padding: rem-calc(8 15);
        z-index: 3;
        transition: ease, 0.5s;
    }

    &__buttons {
        width: 100%;
        padding: rem-calc(0 15);
        text-align: center;
        list-style: none;
        margin: rem-calc(0 0 50 0);
        font-size: 0;

        @include breakpoint(medium only) {
            margin-bottom: rem-calc(40);
        }

        @include breakpoint(small only) {
            margin-bottom: rem-calc(30);
        }

        li {
            display: inline-block;

            &:not(:last-of-type) {
                margin-right: rem-calc(15);

                @include breakpoint(485 down) {
                    margin: rem-calc(0 0 15 0);
                }
            }

            @include breakpoint(small only) {
                line-height: rem-calc(19);
                font-size: rem-calc(18);

                span {
                    padding: rem-calc(8 25);
                }
            }

            @include breakpoint(485 down) {
                width: 100%;

                .button {
                    width: 100%;

                    span {
                        width: 100%;
                    }
                }
            }

        }
    }

    &__button-active {
        .button {
            span {
                background: #fff;
                color: $blue;
            }
        }
    }

    &__blocks {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        padding: rem-calc(0 7.5);
    }

    &__block {
        width: calc(100% / 3);
        padding: rem-calc(0 7.5);
        margin-bottom: rem-calc(30);

        @include breakpoint(900 down) {
            width: calc(100% / 2);
        }

        @include breakpoint(small only) {
            width: 100%;
        }
    }

    &__options {
        width: 100%;
        padding: rem-calc(0 15);
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0;
        margin: rem-calc(50 0 60 0);

        @include breakpoint(medium only) {
            margin: rem-calc(30 0 40 0);
        }

        @include breakpoint(small only) {
            margin: rem-calc(15 0 30 0);
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
        }

        li {
            @include breakpoint(650 down) {

                &:first-of-type {
                    margin-bottom: rem-calc(15);
                    width: 100%;
                }
            }
        }
    }
}